/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
  outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  background: linear-gradient(180deg, #231f20 0%, rgba(255, 255, 255, 0) 100%),
    rgba(21, 103, 227, 0.3);
  height: 550px;
  width: 900px;
}

#main-body {
  position: relative;
  bottom: 10px;
}

h1 {
  font-family: Bungee;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  text-align: center;

  /* batman yellow */
  color: #fde311;
  position: relative;
  top: 73%;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 2;
}

#main-bats {
  /* bats bigger */
  position: relative;
  left: 49.78%;
  right: 27.22%;
  bottom: 28%;
  z-index: 3;
}

/* batman signal */
#bat-light {
  position: absolute;
  left: 38.7%;
  right: 61.67%;
  top: 9.5%;
}
