/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* {
  outline: 1px dotted black;
}



/* Doodle Stage */
#stage {
  height: 550px;
  width: 900px;
}

@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

#main-body {
  position: relative;
  bottom: 10px;
}

h1 {
  font-family: Bungee;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  text-align: center;
  color: #fde311;
  position: relative;
  top: 73%;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 2;
}

#main-bats {
  /* bats bigger */
  position: relative;
  left: 49.78%;
  right: 27.22%;
  bottom: 245px;
  z-index: 3;
}

/* batman signal */
#bat-light {
  position: relative;
  bottom: 520px;
  left: 65px;
}

#moving-bat {
  position: relative;
  bottom: 255px;
  right: 300px;
  z-index: 4;
}
